<!-- Introduction -->
<app-section title="QuickStart W/ Angular / Ionic 4 / Capacitor / Firebase" textColor="#000" bgColor="#fff">
  A guide to getting your development environment setup for Angular, Ionic 4, Capacitor, and Firebase. <br/>
  Any issues please report to the       <a class="header-logo-invertocat" href="https://github.com/ilmstudios/angular-ionic-capacitor-firebase-rapid-start" data-hotkey="g d" aria-label="Homepage" data-ga-click="Header, go to dashboard, icon:logo">
    <svg height="32" class="octicon octicon-mark-github" viewBox="0 0 16 16" version="1.1" width="32" aria-hidden="true"><path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path></svg>
    </a> repo.<br/>
</app-section>

<!-- Install Node -->
<app-section title="Install Node" bgColor="#3f51b5">
  First install node.
  <a href="https://nodejs.org/en/download/">https://nodejs.org/en/download/</a>
</app-section>

<app-section title="Install Angular CLI" bgColor="#ff6420">
  Then install the Angular CLI globally.
  <a href="https://angular.io/guide/quickstart">https://angular.io/guide/quickstart</a>
  <div class="command">
    npm install -g @angular/cli
  </div>
</app-section>

<app-section title="Install Ionic CLI" bgColor="#3f51b5">
  Then install the Ionic CLI globally.
  <a href="https://beta.ionicframework.com/docs/installation/cli/">https://beta.ionicframework.com/docs/installation/cli/</a>
  <div class="command">
    npm install -g ionic
  </div>
</app-section>

<app-section title="Create an Ionic app" bgColor="#ff6420">
  Then create an ionic app. Choose an app name, a style, and make sure to enter type = angular.
  <div class="command" style="width:75%">
    ionic start [appName] [tabs | sidemenu | blank] --type=angular
  </div>
</app-section>

<app-section title="Enter the folder" bgColor="#3f51b5">
  Enter the folder of the app.
  <div class="command">
    cd [appName]
  </div>
</app-section>

<app-section title="Build the project" bgColor="#ff6420">
  Build the project at least once.
  <div class="command">
    npm run build
  </div>
</app-section>

<app-section title="Install Capacitor" bgColor="#3f51b5">
  Install Capacitor to the project locally.
  <a href="https://capacitor.ionicframework.com/docs/getting-started/with-ionic/">https://capacitor.ionicframework.com/docs/getting-started/with-ionic/</a>
  <div class="command">
    npm install --save @capacitor/cli @capacitor/core
  </div>
</app-section>

<app-section title="Uninstall Cordova Splash" bgColor="#ff6420">
  According to the capacitor docs, you need to uninstall Cordova Splash.
  <div class="command">
    npm uninstall --save cordova-plugin-splashscreen
  </div>
</app-section>

<app-section title="Init Capacitor" bgColor="#3f51b5">
  Initialize capacitor for your project. Add an appId, such as com.ilmstudios.rapidstart
  <div class="command">
    npx cap init [appName] [appId]
  </div>
</app-section>

<app-section title="Install Firebase CLI" bgColor="#ff6420">
  Install the Firebase CLI globally.
  <a href="https://github.com/firebase/firebase-tools">https://github.com/firebase/firebase-tools</a>
  <div class="command">
    npm install -g firebase-tools
  </div>
</app-section>

<app-section title="Initialize Firebase" bgColor="#3f51b5">
  Initialize Firebase for your app. Follow the commands to enable the features you want. If you want to enable
  firestore you need to first enable it from the Firebase console online. When prompted to select a folder for build
  output, enter 'www'. Setup for single page application. Select to not overwrite the index.html that is there
  currently.
  <div class="command">
    firebase init
  </div>
</app-section>

<app-section title="Deploy to firebase" bgColor="#ff6420">
  Deploy your built app to firebase.
  <div class="command">
    firebase deploy
  </div>
</app-section>

<app-section title="Running you app locally" bgColor="#3f51b5">
  To run your app locally, run 
  <div class="command">
    ionic serve 
  </div>
</app-section>

<app-section title="Fin" textColor="#000" bgColor="#fff">
  You're done!
</app-section>